body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 75px 0px;
    gap: 10px;
    background: #FFFFFF;
    box-sizing: border-box;
}

* {
    transition: all ease-in-out 200ms;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 50px;
    width: 100%;
    max-width: 600px;
}

.block * {
    width: 100%;
}

.block.g25 {
    gap: 25px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
}

.container .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.container .item,
.container .item * {
    width: fit-content;
}

.item img {
    width: 18px;
    height: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
ul,
li {
    margin: 0;
    padding: 0;
    color: #34424F;
    text-decoration: none;
}

h1 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
}

h2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

ul,
li,
p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

ul {
    padding: 0 18px;
    box-sizing: border-box;
    margin: 0 18px;
}

li {
    margin: 10px;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

hr {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #34424F;
}

.knopka-blyat {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    gap: 10px;
    background: #F2EDE7;
    border-radius: 99px;

}

.knopka-blyat:hover {
    gap: 15px;
}

.knopka-blyat h2 {
    font-size: 18px;
    line-height: 21px;
}

.knopka-blyat img {
    width: 15px;
    height: 14px;
}

@media(max-width: 600px) {
    body {
        padding: 36px 18px;
    }

    h1 {
        font-size: 32px;
        line-height: 37px;
    }

    h2 {
        font-size: 24px;
        line-height: 28px;
    }

    h3 {
        font-size: 18px;
        line-height: 22px;
    }

    p {
        font-size: 14px;
        line-height: 17px;
    }

    .block.block.g25 {
        gap: 20px;
    }

    .item.img {
        width: 14px;
        height: 14px;
    }
}